<div class="place-listing" data-test-place-listing>
  <div data-test-image-tile class="image-tile" alt="Mexican DBC" style="background-image: url('{{@image}}');"> &nbsp; </div>
  <div data-test-overview class="overview">
    <h2 data-test-title class="title">{{@title}}</h2>
    {{yield}}
  </div>
</div>