<ul class="places">
  {{#each @model as |listing|}}
  <li>
    <PlaceListing
    @image="https://photos.app.goo.gl/QqpUbztDFmk6uux2A"
    @title="The Lounge"
    >
    <a href="/places/1" class="more">More</a>
    </PlaceListing>
  </li>
  {{/each}}
  <li><a href="/places/new" class="add"><span>+</span></a></li>
</ul>